.cards-promo > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.cards-promo > ul > li {
  position: relative;
  overflow: hidden;
  min-height: 180px;
  display: flex;
}

.cards-promo .cards-promo-card-image {
  position: absolute;
  inset: 0;
  line-height: 0;
}

.cards-promo .cards-promo-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-promo .cards-promo-card-body {
  position: relative;
  z-index: 1;
  align-self: flex-end;
  margin: 16px;
  color: white;
}

@media (width >= 900px) {
  .cards-promo > ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
